/* body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
} */
/* 
    下边这个是有品自己的
*/
body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    position: relative;
    color: rgb(51, 51, 51);
}
body a{
    text-decoration: none;
}
#rooter{
    width: 100%;
    height: 2000px;
    position: relative;
    /* background-color: #fff;; */
    /* background-color: rgb(173, 28, 28); */
}
/* 所有图标 */
.icons{
    background-image: url(../img/yp-icons.2bf57ccf.png);
}
img{
    vertical-align: middle;
}
/* <!-- h-subTit/ 所有的大标题的class名 --> */
.h-subTit{
    color: #333;
    font-size: 28px;
    font-weight: 400;
}
.h-subTit span{
    margin-left: 12px;
    font-size: 14px;
    color: #999;
}
/* 只要是图标 hover之后都变为指针变换形式 */
.m-icons:hover{
    cursor: pointer;
}
/* 所有灰色字体 */
.fontcolor-fade{
    color:rgb(153, 153, 153);
}
/* 下边这个是  登录行*/
#header{
    width: 100%;
    height: 48px;
    background: #333;/* #333;  #e7e7e7  #aa986a #845f3f*/
    display: flex;
    justify-content: center;
    /* font-size: 14px; *//* 可删 */
    box-shadow:  0 0 3px 3px #e6e6e6;
}
#header .header-box{
    position: relative;/* 11:45 */
    display: block;
    width: 1080px;
    height: 48px;
    /* background-color: rgb(44, 192, 100); *//*结构显示*/
    display: flex;
    justify-content: flex-end;
}
#header .fr{
    /* width: 465px;  */
    height: 48px;
    display: flex;
    justify-content: flex-end;
    /* background: rgb(224, 215, 87); *//* 最后要删的 */
}
#header .fr div{
    justify-content: flex-end;
    margin-right: 8px;
    text-align: center;
    margin-right: 13px;
    margin-left: 14px;
}
/* 这个是 app下载 图标 */
#header .fr div .icons-app{
    display: inline-block;
    margin-bottom:-9px;
    width: 30px;
    height: 30px;
    position: relative;
    left:-5px;
    background-position:0 -1016px;
}
#header .fr a{
    text-decoration:none;
    line-height: 48px; 
    color: #e7e7e7;
    /* margin-left: 8px; */
}
#header .fr .down-app{
    margin-left: -10px;
}
#header .fr .line{
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #e7e7e7;
    margin-top: 16px;
}
#header .fr .clauses-box{
    width: 174px;
    display: flex;
    flex-direction: column;
/*     background-color: rgb(133, 57, 57); */
    margin-right: 0px;/* 这个可调 右边的宽度 */
}
#header .fr .clauses-box:hover .header-item {
    display: block;
}

#header .fr .clauses {
    width: 161px;
    height: 48px;
    justify-content: flex-start;
    margin-left: 0px;
}

#header .fr .clauses a{
    display: inline-block;
    justify-content: flex-start;
}
#header .fr .icons-dropdown{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -9px;
    background-position: 0px -1662px;/* 这个当时没出来，因为多加了 , */
}

/* 取消所有li标签的默认格式 */
li{
  list-style: none;  
}
/* 以下设置 弹出来的盒子 */
/* #header .fr .clauses-box .show{
    opacity: 1;
} */
#header .fr .clauses-box .hidden{
    opacity: 0;
}
#header .fr .header-item {
    display: none;
    width: 160px;
    height: 70px;
    box-shadow:0 3px 28px rgba(0,0,0,.1);
    position: absolute;
    /* left: 0px; */
    right: 0px;
    top: 48px;
    z-index: 100;/* 让他在最前边 */
}
#header .fr .header-item ul li{
    display: block;
    width: 160px;
    height:35px;
    background: #e7e7e7/* 背景色，以后要修改 */
    
}
#header .fr .header-item ul li a{
    /* text-decoration: none; */
    color:#666;
    line-height: 35px;
    box-shadow:0 3px 28px rgba(0,0,0,.1);
}
#mid-box{
    display: block;
}
#mid{
    display: block;
    width: 1080px;
    margin: 0 auto;
    /* background: rgb(232, 235, 51); */
    /* box-shadow: 0 3px 28px rgba(0,0,0,.1); */
}
/* 固定条 -- fixBar*/
.fixBar{
    display: block;
    width: 71px;
/*     height: 350px; *//* 可变，最后删除 */
    position: fixed;
    right: 10px;
    top: 180px;
    background: #fff;/* 先设置 背景色，用于看结构，以后删除 */
    box-shadow: 0 3px 28px rgba(0,0,0,.1);/*  0 0 3px 3px #e6e6e6; */
    z-index: 999;
}
.fixBar li {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
    width: 35px;
    cursor: pointer;
    position: relative;
    /* height: 80px; */
    /* background: yellowgreen; */
    border-bottom:1px solid #e7e7e7;
    text-align: center;
}
.fixBar li img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;/* 让图片居中 */
}
/* hover */
/* :hover.fixBar ul:nth-child(1){
    .fix-server.display :
} */
.fixBar ul li:hover{
    color:#845f3f;
}
.fixBar ul li:hover .fix-server{
    /* background: rgb(160, 231, 79); */
    transition: all 0.1s;
    display: block;

}
.fixBar li .fix-server{
    position: absolute;
    top: 0px;
    right:75px;
    display: none;
    width: 212px;
    /* height: 300px; */
    background: #fff;
    border: 1px solid #dfdfdf;
    font-size: 12px;
}
/* li标签里边所有的content */
.fixBar li .content{
    position: relative;
    padding: 10px 10px;
}
.fixBar li .fix-server .info-title {
    margin-top: 8px;
    color: rgb(51, 51, 51);
}
.fixBar li .fix-server .info-day{
    margin-top: 1px;
    color: rgb(102, 102, 102);
    font-size: 12px;
}
.fixBar li .fix-server .content .info-des {
    margin-top: 18px;
    color: rgb(51, 51, 51);
} 

.fixBar li .fix-server div .info-phone{
    margin-top: 15px;
    color: rgb(132, 95, 63);
    font-size: 20px;
}
.fixBar li a{
    position: absolute;/* 这个原来是绝对定位 */
    top: 30px;
    right: -10px;
    display: block;
    width: 14px;
    height: 16px;
    background-image: url(../img/三角右3.png);
}
/* 第一个li结束 */
/* 第二个li开始 */
/* .fixBar li */
.fixBar ul li:hover .fix-code{
    display: block;
}
.fixBar li .fix-code{
    position: absolute;
    top: 0px;
    right:75px;
    display: none;/* 暂时 */
    background: #fff;
    border: 1px solid #dfdfdf;
    font-size: 12px;
}
.fixBar li .fix-code .content img{
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
}
.fixBar li .fix-code .content p{
    margin-top: 8px;
    text-align: center;
    width: 98px;
}
.fixBar li .fix-code .content{
    padding: 10px 10px;
}
/* 第二个li结束开始 第三个li */
.fixBar ul li:hover .fix-gift{
    display: block;
}
.fixBar li .fix-gift{
    position: absolute;
    top: 0px;
    right:75px;
    display: none;/* 暂时 */
    background: #fff;
    border: 1px solid #dfdfdf;
    font-size: 12px;
}
/* 图片 */
.fixBar li .fix-gift .content div{
    width: 190px;
    height: 152px;
    margin-bottom: 20px;
    background: url(../img/gift-gd.3f999fde.png);
    background-size: 100%;
}
.fixBar li .fix-gift .content img{
    display: block;
    width: 80px;
    height: 80px;
    padding: 8px;
    border: 1px solid #e7e7e7;
}
/* 第三个li结束，开始第4个li */
.fixBar ul:nth-child(4) img{
    display: block;
    width: 120px;
    height: 120px;
}
/* 以下是中间(mid)部分 */
#mid .mid-header{
    display: block;
    height: 71px;
    background:  #fff;
    position: relative;
}
#mid .mid-header .m-logo{
    position: absolute;
    bottom: 0;
    height: 51px;
    width: 123px;
    background: url(../img/m-logo.png) no-repeat;
    background-size: 100%;
     /* background: #dfdfdf;  */
}
#mid .mid-header .mid-header-top ul{
    /* height: 60px; */
  /*   background: rgb(196, 149, 19); *//* 这个是li类的背景色，用来区分结构 */
    /* margin-top: 10px; */
    position: absolute;
    bottom: 0px;
    left: 300px;
}
#mid .mid-header ul li:hover a{
    color: #845f3f;
}
#mid .mid-header ul li{
    display: inline-block;
    margin-right: 20px;
}
#mid .mid-header ul li a{
    text-decoration: none;
    font-size: 18px;
    line-height:51px;     
    color: #666;
}
#mid .mid-header .mid-header-top .m-search{
    width: 296px;
    height: 42px;
   /*  background: rgb(171, 236, 19); *//* 这个是搜索框 */
    float: right;
    position: relative;
    left: -12px;
    top: 20px;
}


/* 这个是购物车图标 */
#mid .mid-header .buy{
    float: right;
    position: relative;
    top: 38px;
    right: 10px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/购物车.png) no-repeat;
    background-size: 100%;
}
/* 搜索div */
#mid .mid-header .m-search{
    position: relative;
    border-bottom: solid 1px  #e7e7e7;
}
/* 搜索行的图片 */
#mid .mid-header .mid-header-top .search-picture{
    position: absolute;
    bottom: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/search.png) no-repeat;
    background-size: 100%;
}
#mid .mid-header .mid-header-top .search-picture:hover{
    background: url(../img/search-c.png) no-repeat;
    background-size: 100%;
    transition: all .3s;
}
/* 搜索的input框 */
#mid .mid-header .mid-header-top input{
    display: inline-block;
    position: absolute;
    bottom: 4px;
    right: 20px;
    width: 245px;
    height: 20px;
    border: none;
    margin-top: 10px;
    color:#333;
    outline: 0;
}
#mid .mid-header .mid-header-top input[name="color"]{
    color: red;
}
/* input框中显示的字体颜色 */
input::-webkit-input-placeholder{
    color:rgb(200, 201, 200);
}
/*  */
#mid .banner-nav{
    display: flex;
    justify-content: flex-start;
    /* position:relative; */
    background-color: #845f3f;
    height: 358px;
    /* padding-top: 5px; */
}
#mid .banner-nav .banner-container{
    justify-content: flex-start;
    overflow: hidden;
    width: 221px;
    height: 100%;
    /* display: inline-block; */
    background: #845f3f;
}
/*  */
#mid .banner-nav .banner-container ul{
    display: block;
    position: absolute;
    width: 221px;
    margin-top: 5px;
    background: #845f3f;
}
#mid .banner-nav .banner-container ul li{
    position: relative;
    padding: 0 30px;
    height: 37px;
    line-height: 37px;
}
/* 这个是hover的效果 */
#mid .banner-nav .banner-container ul li:hover{
    /* display: none; *//* 这个有问题暂时不管 */
    background-color: #684b34;
    color: #f1ede9;
}
#mid .banner-nav .banner-container ul li:hover .show{
    display: none;
}
#mid .banner-nav ul li a:hover{
    color: #e4af82;
}
#mid .banner-nav ul li a{
    color: #fff;
}

#mid .banner-nav .nav-detail{
    padding-top: 20px;
    padding-left: 30px;
    position: absolute;
    top:0px;
    left: 221px;
    display: block;/* 显示或者隐藏 */
    width: 829px;
    height: 337px;
    /* background: #b04337; */
    background: #fff;
    z-index: 100;
    overflow: hidden;
    border: 1px solid #eee;
}
#mid .banner-nav .nav-detail div {
    width: 829px;
    /* background: purple; */
    display: block;
}
#mid .banner-nav .nav-detail div ul{
    /* display: flex; */
    /* justify-content: flex-start; */
}
#mid .banner-nav .nav-detail div ul li{
    display: inline-block;
    margin-bottom: 32px;
    line-height: 40px;
    width: 195px;
    height: 40px;
    /* background: yellowgreen; */
}
/* 添加show的时候，块就显示 @@@@@@@@@@@@@@*/
#mid .banner-nav .show{
   /*  display: block; */
}

#mid .banner-nav .banner-container ul:hover .show{
    display: block;
}
#mid .banner-nav .nav-detail img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* 轮播图部分  最外边大盒子*/
#mid .banner-nav .banner-box{
    /* display: inline-block; */
    width: 859px;
    height: 100%;
    background: rgb(250, 248, 248);
    position: relative;
}
/* 这个有点不对 div要换成a标签 */
#mid .banner-nav .banner-box .swiper-wrapper{
    position: relative;/* 子绝，父相 */
    width: 859px;
    height: 100%;
    background: rgb(207, 76, 76);
    overflow: hidden;
}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner{
    position: absolute;/* 子绝，父相 */
    left: -1718px;/* 这个用来轮播的额left:-859px 1718px;2577px */
    display: flex;
    justify-content: flex-start;
}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner a{
    /* display: flex; */
    width: 859px;
    height: 358px;
    /* background: url(../img/img.jpg) no-repeat; */
}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner a:nth-child(1){
    /* left: 358px; */
    background: url(../img/img.jpg) no-repeat;
    background-size: 100%;

}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner a:nth-child(2){
    background: url(../img/img\ -2.jpg) no-repeat;
    background-size: 100%;
}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner a:nth-child(3){
    background: url(../img/img\ -3.jpg) no-repeat;
    background-size: 100%;
}
#mid .banner-nav .banner-box .swiper-wrapper .swiper-inner a:nth-child(4){
    background: url(../img/img\ -4.jpg) no-repeat;
    background-size: 100%;
}
/* 轮播的小圆点 */
#mid .banner-nav .banner-box .swiper-button {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -48px;
}
#mid .banner-nav .banner-box .swiper-button ul li{
    display: inline-block;
    padding: 0;
    /* justify-content: flex-start; */
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    border: solid 2px rgb(146, 146, 146);
}
#mid .banner-nav .banner-box .swiper-button ul li:hover{
    background-color: #845f3f;
    border: solid 2px #fff;
    transition: all .5s;
}

/* 下边是轮播左右按钮 */
#mid .banner-nav .banner-box .swiper-direction{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    opacity: 0.8;
    margin-top:-19px;
} 
#mid .banner-nav .banner-box .swiper-left{
    top:50%;
    left: 10px;
    background:url(../img/向左.png) no-repeat;
    background-size: 100%;
}
/* hover */
#mid .banner-nav .banner-box .swiper-left:hover{
    background:url(../img/向左-c.png) no-repeat;
    background-size: 100%;
}

#mid .banner-nav .banner-box .swiper-right{
    top:50%;
    right: 10px;
    background:url(../img/向右.png) no-repeat;
    background-size: 100%;
}
/* hover */
#mid .banner-nav .banner-box .swiper-right:hover{
    background:url(../img/向右-c.png) no-repeat;
    background-size: 100%;
}
/* 有品推荐 */
#mid .recommend-box{
    margin-top: 35px;
    height: 287px;
   /*  background: purple; *//* 最后要删除 */
    position: relative;
}


#mid .recommend-box .recommend-content{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#mid .recommend-box .recommend-content>div{
    position: relative;
    width: 265px;
    height: 230px;
    background:rgb(242, 238, 228);
}
#mid .recommend-box .recommend-content>div .recommend-container{
    padding-top: 23px;
    padding-left: 15px;
}
/* 推荐物品的 文字 */
#mid .recommend-box .recommend-content>div div .pro-info{
    font-size: 20px;
    line-height: 24px;
    height: 24px;
}
#mid .recommend-box .recommend-content>div div .pro-desc{
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-top: 8px;
}
#mid .recommend-box .recommend-content div img{
    position: absolute;
    right: 45px;
    bottom: 10px;
    width: 175px;
    height: 117px;
}
/* 限时购----------------------- */
.limit-box{
    margin-top: 35px;
}
.h-subTit img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
    vertical-align: -6%;
}
/* .h-subTit span{
    margin-left: 
} */
.h-subTit .time{
    margin-left: -4px;
    font-size: 18px;
    color: #b04337;
}
.h-subTit .timer{
    display: inline-block;
    margin-left: 8px;
}
.h-subTit .timer span{
    display: inline-block;
    margin-left: -6px;
    color: #b04337;
    text-align: center;
}
.h-subTit .timer .time{
    width: 23px;
    height: 23px;
    font-size: 15px;
    line-height: 23px;

    display: inline-block;
    color:#fff;
    background: #b04337;
}
.h-subTit .timer .colon{
    width: 2px;
    height: 23px;
}
/* 图片内容 */
.time-limit-box{
    position: relative;
    width: 100%;
    height: 354px;
    /* background: yellowgreen; */
    overflow: hidden;
    margin-top: 20px;
}
.time-limit-box .time-limit-container{
    position: absolute;
    /* background: #b04337; */
    left: 0px;/* 这个是 轮播 用来滑动的 */
    height: 354px;
    width: 2000px;
    display: block
}
/* 这个其实可以用ul 和li 来表示 */
.time-limit-box .time-limit-container>div:hover{
    box-shadow: 5px 2px 25px rgb(43, 42, 42);
    transition: 0.5s;
    top:-1px;
}
.time-limit-box .time-limit-container div:nth-child(1){
    margin-left: 0px;
}
.time-limit-box .time-limit-container>div{
    width: 266px;
    height: 354px;
    background: #faf6ef;
    display: inline-block;
    position: relative;/* 相对定位 */
    margin-left: 5px;
}
.time-limit-container .img-tag{
    position: absolute;
    top: 241px;
    z-index: 2;
    width: 58px;
    height: 25px;
    background: url(../img/price-background.png) no-repeat;
    background-size: 100%;
    text-align: center;
   
}
.time-limit-container .img-tag span{
    color: #fff;
    line-height: 25px;
    font-size: 14px;
}
.time-limit-container img{
    position: absolute;
    width:266px;
}
.time-limit-box .time-limit-container .price{
    position: absolute;
    bottom:0;
    height: 88px;
    width: 100%;
    text-align: center;

}
.time-limit-box .time-limit-container .price p{
    margin-left: 0px;
}
.time-limit-box .time-limit-container .price .pro-info {
    color: rgb(90, 90, 90);
    font-size: 19px;
    line-height: 23px;
    height: 23px;
    margin-top: 13px;

}
.time-limit-box .time-limit-container .price .pro-price{
    margin-top: 11px;
    font-size: 22px;
    line-height: 26px;
    color: #a92112;
}
.time-limit-box .time-limit-container .price .pro-price .pro-unit {
    font-size: 15px;
    margin-right:-8px;
}
.time-limit-box .time-limit-container .price .pro-price .market-price{
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
}
/* 普通box */
.m-box{
    display: block;
    margin-top: 35px;
    width: 100%;
    /* background: #b04337; *//* @@@@@@ 最后删 */
}
.h-container{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
}

/* 所有的h2标签都一个格式 */
.h-container h2{
    color: #333;
    font-size: 28px;
    font-weight: 400;
    display: flex;
}
.h-container a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.h-container a span{
    color: #333;
}
.h-container a div{
    display: flex;
    width: 16px;
    height: 16px;
    background: url(../img/向右链接.png) no-repeat;
    background-size: 100%;
    
}
.h-box .h-container a:hover .img{
    background: url(../img/向右连接2.png) no-repeat;
    background-size: 100%;
}
.h-box .h-cotent{
    /* margin-top: 10px; */
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /* width: 100%;
    height: 400px;
    background: #666; */
}
.h-box .h-cotent li{
    display: block;
    margin-top: 5px;
    width: 264px;
    height: 348px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    transition: 0.5s;

}
.h-box .h-cotent li:hover{
    margin-top: 4px;
    box-shadow: 5px 5px 15px rgb(92, 92, 92);
}
.h-box .h-cotent .box1 .img-box{
    width: 100%;
    /* height: 236px; */
    padding-top: 45px;
    padding-bottom: 25px;
    display: block;
    text-align: center;
}
.h-box .h-cotent .box1 .img-box img{
    display: block;
    height: 125px;
    width: 125px;
    margin: 0 auto;
    /* margin-top: 10px; */
    margin-bottom: 20px;
}
.h-box .h-cotent .box1 .img-box p{
    color: #845f3f;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-top: 0;
    
}


.h-box .h-cotent .box1 .name-box{
    text-align: center;
    padding: 13px 0 10px;
    
}
/* 电脑名字 详情类 */
.h-box .h-cotent .box1 .name-box{
    background: #f8f8f8;
    height: 112px;
}
/* 这个是修改之后的  加上div*/
.h-box .h-cotent .box1 .name-box>div{
    height: 16px;
}
.h-box .h-cotent .box1 .name-box>div span{
    background:rgb(225, 134, 98);
    border-radius: 2px;
    margin-top: 2px;
}
.h-box .h-cotent .box1 .name-box p{
    display: block;
    margin: 0 auto;
}
.h-box .h-cotent .box1 .name-box .title{
    color: #333;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
}
.h-box .h-cotent .box1 .name-box .price{
    font-size: 12px;
    margin-top: 11px;
    color: #a92112;
}
.h-box .h-cotent .box1 .name-box .price .price-num {
    font-size: 20px;

}





/*登录注册页面  显示 和隐藏*/
.show{
    position: fixed;
    top:0px;
    width: 100%;
    height: 1000px;
    display: block;
    z-index: 999;
    background: rgba(0,0,0,.7);
}
.hidden{
    display: none;
}
#login-business .layout-layout-element{
    margin: 0 auto;
    margin-top:150px;
    width: 450px;
    height: 293px;
    display: block;
    background: #fff;
    position: relative;
    /* padding-top: 50px; */
}
/* 关闭 图标 */
#login-business .layout-layout-element  .close .m-icons-close{
    display: block;
    position: absolute;
    top:10px;
    right: 10px;
    width: 13px;
    height: 13px;
    background: url(../img/closed.png) no-repeat;
    background-size: 100%;
}
#login-business .login-content{
    position: absolute;;/*  */
    top: 47px;
    
    display: block;
    margin: 0 40px;
    width: 370px;
}
#login-business .login-content .agreement-container{
    margin-top: 20px;
}
#login-business .title{
    display: block;
    text-align: center;
    font-size: 18px;
    /* margin-top: 50px; */

}
#login-business .content a{
    color: #845f3f;
}
.button-lists{
    text-align: center;
    font-size: 18px;
}
.button-lists>div{
    margin-top: 25px;
    display: inline-block;
    width: 160px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    border:1px solid #845f3f;
    border-radius: 3px;
}
.button-lists .agr{
    color: #fff;
    background-color: #845f3f;
    border-color: #845f3f;
}
 /* 这个是公司详情，工商信息 */
#m-footer{
    display: block;
    /* background:red; */
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: 70px;
    width: 100%;
    z-index: 1;
}
#m-footer hr{
    border: 0.5px solid rgba(87, 87, 86, 0.2)
}
#m-footer .m-footer-container{
    /* background: #b04337; */
    width: 1080px;
    height: 45px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* position: absolute;
    bottom: 0; */
}

#m-footer .m-f-logo{
    line-height: 45px;
    /* justify-content: flex-start; */
}
#m-footer .m-f-logo img{
    width: 123px;
    height: 45px;
    margin-right: 25px;
    /* display: inline-flex; */
}
#m-footer .f-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}
/* #m-footer .f-info */
#m-footer .f-logo img{
    width: 100px;
    height: 36px;
    margin-left: 40px;
}
#m-footer .f-info-fr p span{
    margin-right: 5px;
}


