body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    position: relative;
    font-family: arial,"Hiragino Sans GB","Microsoft YaHei","微軟正黑體","儷黑 Pro",sans-serif;
    color: #757575;
}
a{
    text-decoration: none;
    color: #757575;
}
#mylogin{
    display: block;
    position: absolute;
    top:0px;
    z-index: 2000;
    width: 100%;
}
#rooter{
    text-align: center;
}
/* 登录的  box */
#user-login{
    margin: 0 auto;
    width: 854px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background: #fff;

}

#user-login .m-icons{
    margin-top: 40px;
    margin-bottom: 23px;
    width: 48px;
    height: 48px;
    background: url(../img/logo.png);
}

#user-login p{
    font-size: 30px;
    margin-bottom: 40px;
    color: #424242;
}
#user-login input{
    display: flex;
    width: 322px;
    height: 22px;
    padding: 13px 16px;
    margin-bottom: 14px;
    color: #333;
    border:0.5px solid #E0E0E0;
    /* color: red; */
}
#user-login .enter{
    background: #ef5b00;
    width: 358px;
    height: 50px;
    text-align: center;
    /* font-size:  */
    line-height: 50px;
    color: #fff;
}
#user-login .forget{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 28px;
}
#user-login .forget>div:nth-child(1) a{
    color: #ef5b00;
}
#user-login .forget>div:nth-child(2){
    margin-left: 103px;
}
.other-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-login .line{
    display: flex;
    width: 138px;
    height: 1px;
    background: #b0b0b0;
}
.logo-pic ul{
    display: flex;
    width: 203px;
    margin-top: 20px;
    margin-bottom: 102px;
    justify-content:space-between;
    align-items: center;
}
.logo-pic ul li{
    /* display: inline-block; */
    width: 30px;
    height: 30px;
}
.logo-pic ul li:nth-child(1){
    background: url(../img/qq.png);
}
.logo-pic ul li:nth-child(2){
    background: url(../img/weibo.png);
}
.logo-pic ul li:nth-child(3){
    background: url(../img/zhibubao.png);
}
.logo-pic ul li:nth-child(4){
    background: url(../img/weixin.png);
}
/* 底部 公安 信息 */
#footer{
    padding-top: 10px;
    padding-bottom: 27px;
    text-align: center;
}
#footer p{
    margin-top: 10px;

}
#footer img{
    width: 20px;
    height: 20px;
}
/* 补充一个背景颜色 */
.color{
    background: #f5f5f5; 
}


